target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Genoogle
/docker/genoogle/queries/*
!/docker/genoogle/queries/sars-cov-2-2022-*
/docker/genoogle/fasta/*
!/docker/genoogle/fasta/sars-cov-2/*
/notebook/*

# Scala
out
target
.bsp
/.idea/
/project/
/notebook/
/docker/hadoop-snc/notebook/IDEA_Plugin/
